azul = #2C6BFC;
azul_fuerte = #074687;
gris = #484848;
morado = #9190F7;
celeste = #44D2FB;
body
	background-color azul
	margin 1em

.contenedor
	width 100%
	margin 0
	padding 1em
	.grilla
		background-color morado
		border-radius 1em
		box-shadow: 2px 2px 5px gris;
		overflow hidden
		width 100%
		height 100%
		margin 1em 0 1em 0
		padding 1em
		figure
			img
				float left
				border solid azul_fuerte 2px
				width 140px
				height 150px
		.datos
			margin 0 0 0 160px
			h1
				margin 0
			h2
				color red
				margin 0
			p
				margin 0
				padding 0
	