azul = #2C6BFC;
azul_fuerte = #074687;
gris = #484848;
morado = #9190F7;
celeste = #44D2FB;
gris_claro = #F2F2F2;
verde = #AFE900;
verde_claro = #C1E946;
verde_oscuro = #8FAD34;
body 
	background-color gris_claro
	text-align center
	header
		background-color verde
		font-family: 'Droid Serif', serif;
		padding 1em
		margin 0em
		width 100%
		img
			position absolute
			top 0.5em
			left 1em
		h1
			margin 0
			padding 0
	.contenedor
		display inline-block
		width 100%
		padding 1em
		position relative
		.datos
			background-color verde_claro
			border-radius 0.5em
			box-shadow 5px 5px 15px black
			width 316px
			padding 0.2em
			float left
			#reloj
				background-color black
				color white
				text-align center
				font-size 40pt
				margin 0
				padding 0
				width 100%
		iframe
			display inline-block
			width calc(100% - 350px)
			height calc(100% - 100px)

