azul = #2C6BFC;
azul_fuerte = #074687;
gris = #484848;
morado = #9190F7;
celeste = #44D2FB;
gris_claro = #F2F2F2;
verde = #AFE900;
verde_claro = #C1E946;
verde_oscuro = #8FAD34;
body 
	background-color gris_claro
	text-align center
	header
		background-color verde
		font-family: 'Droid Serif', serif;
		padding 1em
		margin 0em
		position relative
		width 100%
		.logo
			position absolute
			top 0.5em
			left 1em
		h1
			margin 0
			padding 0
		nav
			background-color red
			list-style none
			text-decoration none
			a
				color white
				text-decoration none
				position absolute
				top 1em
				right 1em
			a:hover
				color green
				text-decoration none
			img 
				margin 0 10px 0 0
				padding 0
	.contenedor
		display inline-block
		width 100%
		padding 1em
		position relative
		.datos
			background-color verde_claro
			border-radius 0.5em
			box-shadow 5px 5px 15px black
			width 316px
			padding 0.2em
			float left
			#reloj
				background-color black
				color white
				text-align center
				font-size 40pt
				margin 0
				padding 0
				width 100%
		iframe
			display inline-block
			width calc(100% - 335px)
			height calc(100% - 97px)
	.formulario
		background-color azul_fuerte
		border-radius 3em 0 3em 3em
		color white
		opacity 0.95
		padding 1em
		margin 0.5em auto
		width 300px
		position absolute 
		top 50px
		right 1em
		z-index 1
		#login
			
			margin auto
			padding 2em